@import '../mixins.scss';

.title {
    overflow: hidden;
    position: absolute;
    top: 32px;
    right: 32px;
    text-align: center;
    z-index: 8;
    color: transparent;
    transition: color 150ms ease-in-out 200ms;

    span {
        display: block;
        background: white;
        width: 100%;
        position: absolute;
        right: -100%;
        top: 0;
        bottom: 0;
        transition: right 600ms ease-in-out 0s;
    }

    // &:hover {
    //     color: black; 
    //     span {
    //         right: -100%;
    //     }
    // }
}

.subtitle {
    overflow: hidden;
    position: absolute;
    top: 64px;
    right: 32px;
    text-align: center;
    z-index: 8;
    color: transparent;
    transition: color 150ms ease-in-out 200ms;

    span {
        display: block;
        background: white;
        width: 100%;
        position: absolute;
        right: 100%;
        top: 0;
        bottom: 0;
        transition: right 600ms ease-in-out 0s;
    }
}

.project-preview-container {
    position: relative;

    .project-preview {
        transition: all;
        transition-timing-function: cubic-bezier();
        transition-duration: 250ms;
    }

    &:hover {
        cursor: pointer;

        .project-preview {
            transform: scale(1.1);
        }

        .title {
            color: white;

            span {
                right: 100%;
            }
        }

        .subtitle {
            color: $gray-1;

            span {
                right: -100%;
            }
        }

        &::before {
            transform: scale(1);
            opacity: 1
        }
    }
}

.project-preview-container::before {
    content: "";
    position: absolute;
    background-color: #000000CC;
    width: 96%;
    height: 96%;
    border-radius: 4px;
    display: block;
    z-index: 2;
    top: 2%;
    right: 2%;
    transform: scale(0);
    opacity: 0;
    transition: all;
    transition-timing-function: ease-in-out();
    transition-duration: 250ms;
    transition-delay: 150ms;
}


.list-inline {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.list-inline-item {
    padding: 4px 12px;
    margin: 4px 8px;
    transition: all;
    transition-timing-function: ease-in-out();
    transition-duration: 500ms;
    &:hover {
        cursor: pointer;
        background-color: black;
        border-radius: 6px;
        color: white !important;
    }
}

.list-inline-item.active {
    background-color: black;
    border-radius: 6px;
    color: white !important;
}