@import '../mixins.scss';

.menu-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bolder;

    :hover {
        color: $gray-1 !important;
    }
}

.menu-icon {
    font-weight: bolder; 
    :hover {
        color: $gray-1 !important;
    }
}

.menu-item::after {
    content: "";
    background: #afafaf none repeat scroll 0 0;
    height: 2px;
    width: 0%;
    display: inline-block;
    position: relative;
    top: -10%;
    transition: all 0.3s ease 0s;
}

.menu-item:hover::after {
    width: 100%;
}