@import '../mixins.scss';


.item {
    min-height: 180px;
    .line {
        position: relative;
        min-height: 100%;
        width: 0px !important;
        border:solid 1px $gray-1;
        top: 52px;
    }
    .dot-container {
        position: relative;
        min-height: 100%; 
        top: 52px;
    }
    .container {
        height: 100%;
    }
    .content {
        min-height: 160px;
    }
    .dot {
        position: absolute;
        width: 16px;
        top: -8px;
        height: 16px;
        z-index: 2;
        margin-left: -8px;
        background-color: #444;
        border: solid 3px #555;
        border-radius: 20px;
    }
}